.btn{
    border: 1px solid var(--primary-color);
    background-color: transparent;
    letter-spacing: 0.5px;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    width: fit-content;
    border-radius: 25px;
    white-space: nowrap;
}
.btn:hover{
    cursor: pointer;
    transition: 0.6s;
}
.btn.text{
    background-color: none;
    border-radius: 0;
    border: none;
    color: black;
}
.btn.text:hover{
    color: rgb(78, 78, 78);
    cursor:auto;
}
.btn.bordered{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.btn.bordered:hover{
    background-color: var(--primary-color);
    color: white;
}
.btn.contained{
    background-color: var(--primary-color);
    color: white;
}
.btn.contained:hover{
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.field-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.field-container .label{
    color: rgb(127, 126, 126);
    font-size: 0.9rem;
}
.field-container .field{
    border: 1px solid rgb(169, 168, 168);
    padding: 0.4rem;
    font-size: 1rem;
    border-radius: 5px;
}
.field-container .field:focus{
    border: 1px solid var(--primary-color);
    outline: 1px solid rgba(49, 188, 253, 0.705);
}
.field-container .field::placeholder{
    padding-left: 0.5rem;
    color: rgba(162, 160, 160, 0.721);
    font-size: 0.9rem;
}
.form-mn{
    gap: calc(var(--form-gaping) * 2);
}
.form-mn > form {
    display: flex;
    flex-direction: column;
    gap: var(--form-gaping);
}
.form-mn > form > footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}
.navbar{
    height: var(--home-navbar-height);
    position: fixed;
    width: 100%;
    padding: 1rem 8rem;
    display: flex;
    align-items: center;
    transition: 0.6s;
    justify-content: space-between;
    z-index: 1;
}
.navbar.show{
    background-color: rgba(255, 255, 255, 0.265);
    backdrop-filter: blur(3px);
    transition: 0.6s;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    user-select: none;
}
.navbar .items{
    display: flex;
    align-items: center;
    gap: var(--list-items-gap);
}
.navbar .items > ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--list-items-gap);
}
.navbar .items > ul > li{
    margin: 0;
    cursor: pointer;
    user-select: none;
}
.navbar .items > ul > li a{
    color: black;
    display: flex;
    align-items: center;
    gap: 0.67rem;
}
#logo-main{
    font-size: 2.1rem;
}