*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: rgb(53,131,252);
    --auth-form-nav: 3.6rem;
    --auth-form-padding: 1.2rem;
    --form-gaping: 1rem;
    --list-items-gap: 3rem;
    --home-navbar-height: 5rem;
    --blue-color: rgb(37,47,78);
    --gray-color: rgb(134, 134, 134);
    --listing-card-border-radius: 15px;
    --main-page-padding: 8rem;
}
a {
    text-decoration: none;
}